body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #18233c;
  color: #e2e8f0;
}

.container {
  max-width: 700px;
  margin: 60px auto;
  background: #1e293b;
  padding: 24px;
  border-radius: 12px;
  border: 2px solid #334155;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #334155;
  background: #020617;
  color: #e2e8f0;
  resize: none;
  font-size: 14px;
}

/* ===== INPUT ROW (TTL + MAX VIEWS) ===== */

.input-row {
  display: flex;
  gap: 12px;
  margin-top: 16px;
}

.input-row input {
  flex: 1;
}

/* General input styling */
input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #334155;
  background: #020617;
  color: #e2e8f0;
  font-size: 14px;
  width: 100%;
}

/* ===== BUTTON ===== */

button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background-color: #3b82f6;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease;
}

button:hover {
  background-color: #2563eb;
  transform: translateY(-1px);
}

/* ===== LINK BOX ===== */

.link-box {
  margin-top: 16px;
  padding: 12px;
  background: #020617;
  border-radius: 8px;
  border: 2px solid #334155;
  word-break: break-all;
}
